@use "/src/scss/variables" as v;
@use "/src/scss/mixins";

#aboutPage {
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 5vh;
}

.container--introduction {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.introduction--content {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.container--supriseElement {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#aboutPage {
  @include mixins.devices(tablet) {
    .introduction--content {
      position: absolute;
      align-items: start;
      left: 0px;
    }
  }
}

// #howItWorksPage {
//   @include mixins.devices(desktop) {
//     .introduction--content {
//       display: inline;
//       position: initial;
//       align-items: start;
//       left: 0px;
//     }
//   }
// }
