.introductionImage {
  width: 84%;
  margin-top: 25px;
}

.introductionImage img {
  max-width: 100%;
}

.subscriptionImage {
  width: 100%;
  margin-top: 25px;
}

.subscriptionImage img {
  max-width: 100%;
}
