@use "/src/scss/variables" as v;

#introductionTitle {
  margin: 0%;
  margin-right: 15px;
  padding-top: 50px;
  font-family: "Arial";
  font-size: 0.9rem;
  font-weight: 500;
  color: v.$secondary-color;
  letter-spacing: 0.07rem;
  line-height: 1.1rem;
  text-align: right;
  width: 80%;
}

.text__small {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 15px;
  font-family: "Arial";
  font-size: 0.75rem;
  font-weight: 400;
  color: v.$secondary-color;
  line-height: 1.1rem;
  text-align: right;
  width: 80%;
}
