@use "/src/scss/variables" as v;
@use "/src/scss/mixins";

.pageTitle {
  margin-top: 0%;
  padding-top: 50px;
  font-family: "Arial";
  font-size: 0.9rem;
  font-weight: 500;
  color: v.$secondary-color;
  letter-spacing: 0.07rem;
}

.flavourTitle {
  margin: 0;
  font-family: "Arial";
  font-size: 0.8rem;
  font-weight: 500;
  color: v.$secondary-color;
  letter-spacing: 0.1rem;
}

.flavourIngredients {
  margin: 0;
  font-family: "Arial";
  font-size: 0.6rem;
  font-weight: 400;
  color: v.$secondary-color;
}

#flavourPage {
  @include mixins.devices(tablet) {
    .pageTitle {
      font-size: 1rem;
    }
  }
}

#flavourPage {
  @include mixins.devices(desktop) {
    .pageTitle {
      font-size: 1.2rem;
    }
  }
}
