.basketProductTitle {
  font-weight: 600;
  font-size: 1.07rem;
  margin: 0%;
}

.oneProductPrice {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
}

.productQuantityText {
  margin: 0%;
}

.totalText {
  margin-left: 10px;
  font-weight: 600;
}

.totalSumma {
  margin-right: 10px;
}

.indiviualPrice {
  margin-right: 10px;
  font-size: 0.7rem;
  text-align: right;
}

#pageTitleArticles {
  padding-top: 25px;
}
